/**************** CSS Reset *****************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************** ROOT VARIABLES ******************/
:root{
 --maroon: #470803;
 --golden-green:#8F680D;
 --olive:#898121;
 --green:#4C4B16;
 --dark-green:#18230F;
 --caramel: #CE793A;
 --copper:#B64B12;
 --Desert-tan:#E5D1A4;
 --cream:#F7F1E5;
}

/****************** Global Styles ****************/
 html{
    /* BACKGROUND IMAGE */   
background-color: #4c4b16;
opacity: 0.8;
background-image:  radial-gradient(#E5D1A4 0.5px, transparent 0.5px), radial-gradient(#E5D1A4 0.5px, var(--green) 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
 }


/************* HEADER ********************/

header {
    color: var(--dark-green);
    background-color: #4c4b16;   
    background-image:  radial-gradient(#E5D1A4 0.5px, transparent 0.5px), radial-gradient(#E5D1A4 0.5px, var(--green) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;   
}
header h1{
    font-size: 70px;
    text-align: center;
    padding-top: 10px;
    color: var(--cream);
}
/************* NAV ***************/
nav{
    height: 3.5em;
    min-width:400px;
}
nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}
nav li{
    margin: 16px 50px;
    font-size: 25px;
    padding-left: 30px;

}
nav a{
    text-decoration: none; 
    color: var(--dark-green);
    transition: transform 0.3s ease, color 0.3s ease;
}
nav a:hover{
    color: var(--green);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.417);
}



/************** HERO *******************/
.hero{
    border: 5px solid var(--dark-green);
    height: 460px;
}
.hero img{
    height: 460px;
    width: 100%;
    object-fit: cover;   
    display: block; 
}
.hero .credit {
  position: absolute;
  margin-top: 10px;
  font-size: 12px;
  color: var(--dark-green);
  background: var(--cream);
  padding: 3px 6px;
  border-radius: 3px;
}
.hero .credit a{
    color: var(--green);
    transition: transform 0.3s ease, color 0.3s ease;
}
.hero .credit a:hover{
    color: var(--caramel);
}

 /********************** BODY ************************/
body{
	max-width: 800px;
    margin: 0 auto;
    background-color: transparent;
    background-color: var(--Desert-tan);
     
    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;                     
    padding: 30px;
}
 section.intro {
    margin-top: 20px;
    background-color: var(--cream);
    border: 2px solid var(--green);
    line-height: 1.5em;
 }
 section.intro a{
    color: var(--green);
  transition: transform 0.3s ease, color 0.3s ease;
 }
 section.intro a:hover{
  color: var(--caramel);
 }
 section.history{
    margin-top: 20px;
    background-color: var(--cream);
    border: 2px solid var(--green);
    line-height: 1.5em;
 }
 section.history i{
  font-style: italic;
  color: var(--dark-green)
 }
 section.history cite{
  font-size: small;
 }
 section.history a{
   color: var(--green);
  transition: transform 0.3s ease, color 0.3s ease;
 }
 section.history a:hover{
   color: var(--caramel);
 }
 
 main h2{
   padding: 10px;
   font-size: 30px;
   font-weight: bold;
   color: var(--green);
 }
 main p{
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
 }


 /*************** leaves ******************/
 

 main.leaves {
  display: flex;
  flex-direction: column; 
  gap: 20px;              
  padding: 20px;
}
main.leaves .plants {
  margin-top: 20px;
  background-color: var(--green); 
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--dark-green);
}
main.leaves h2 {
    text-align: center;
    color: var(--cream);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.417);
}
main.leaves .plants p{
    color: var(--cream);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.417);
}
main.leaves .feature h2{
    padding: 10px;
    padding-bottom: 25px;
    color: var(--dark-green);

}
main.leaves .video{
    background-color: var(--cream);
    border-radius: 5px;
    border: 2px solid var(--dark-green);
}

main.leaves .video{
    display: flex;          
    align-items: center;    
    gap: 20px;              
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    
}
main.leaves .video p {
    margin: 0;              
    font-size: 20px;
    padding: 20px;
}
main.leaves .video video {
    width: 380px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main.leaves .video video:hover{
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);

}
/***************** Table ***********************/
table{
  border: 2px solid var(--dark-green);
  border-collapse: collapse;
  background-color: var(--cream);
}
table th, td{
 padding: 0.5em;
 border: 2px solid var(--dark-green);
}
th{
    font-weight: bold;
    background-color: var(--green);
    color: var(--cream);
}
td{
    text-align: center;
     color: var(--dark-green);
     vertical-align: middle;
}
tr:nth-of-type(odd) {
  background-color: var(--Desert-tan);
}
td img{
    max-width: 100%;    
    max-height: 80px;   
    object-fit: cover;  
    display: block;     
    margin: 0 auto;     
    border-radius: 5px;
}
/***************** Branches *************************/
main.branches{
  display: flex;
  flex-direction: column;
  gap: 20px;              
  padding: 20px;
}
main.branches .community{
  background-color: var(--green); 
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--dark-green);  
}
main.branches .community h2{
    text-align: center;
    color: var(--cream);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.417);
}
main.branches .community p{
    margin: 0;              
    font-size: 20px;
    padding: 20px;
    color: var(--cream);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.417);
}

/******************* Form *************************/


.form-section h2 {
  text-align: center;
  color: var(--dark-green);
  margin-bottom: 15px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.417);
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;             
  margin: 20px;
  max-width: 300px;     
  background-color: var(--cream);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--dark-green);
}

.signup-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: var(--dark-green);
}

.signup-form input {
  width: 100%;           
  max-width: 220px;      
  padding: 6px;
  border: 1px solid var(--dark-green);
  border-radius: 5px;
}
.signup-form input:focus{
    background-color: var(--Desert-tan);
}


.signup-form button {
  display: block;
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--dark-green);
  color: var(--cream);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover{
    background-color: var(--green);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.399);
    
}
/**************** Author *********************/
 .form-author {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px;
  max-width: 1000px;
  margin: 40px auto;
  align-items: start;
}
.author-box {
  background: var(--green);
  padding: 20px;
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  text-align: center;
  margin-top: 68px;
}

.author-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid var(--cream);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.671);;
}
.author-box h2{
    color:var(--cream);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
.author-box p{
    color: var(--cream);
}


/********************* Community Forum *****************************/
#community-forum {
  background-color: var(--cream);
  padding: 20px;
  margin-bottom: -20px;
  border-radius: 8px;
  border: 2px solid var(--dark-green);
}

#community-forum h2 {
  margin-bottom: 15px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.forum-post {
  border-bottom: 1px solid var(--dark-green);
  padding: 10px 0;
}
.forum-post img{
    padding: 10px;
    width:150px;
    height:180px;
}

.forum-post h3 {
  margin: 0;
  font-size: 1em;
  color: var(--green);
  font-size: 20px;
}

.forum-post p {
  margin: 5px 0;
  color:var(--dark-green)
}

iframe{
     box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.671);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
iframe:hover{
    transform: scale(1.05);
}

.timestamp {
  font-size: 0.8em;
  color: var(--copper);
}

 /********************** FOOTER ************************/
footer{
    background-color: #4c4b16;
    background-image:  radial-gradient(#E5D1A4 0.5px, transparent 0.5px), radial-gradient(#E5D1A4 0.5px, var(--green) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    font-size: 20px;
    text-align: center;
    color: var(--cream);
    padding: 20px;
}
footer p{
    line-height: 1.5em;
}
footer a{
    text-decoration: none;
    color: var(--Desert-tan);
    transition: transform 0.3s ease, color 0.3s ease;
}
footer a:hover{
    color: var(--caramel);
}

/****************** small view ***********************/

@media (max-width: 480px) {
  main {
    grid-template-columns: 1fr; 
  }
.hero img{
  height: 200px;
  }
.hero{
  height:200px;
}
nav li{
    margin: 10px 15px; 
    padding: 10px;  
}
main.leaves .video{
    display: flex;
  flex-direction: column;   
  align-items: center;     
  padding: 10px;
}

main.leaves .video video{
    max-width: 100%;          
    width: 400px; 
    margin-bottom: 20px;
}
main.leaves .video p {
    margin: 0;              
    font-size: 20px;
    padding: 10px;
}

.form-author {
grid-template-columns: 1fr;
}
.form-section h2{
    margin-top: -10px;
}
.signup-form {
    margin: 20px auto;
    max-width: 400px;
}
.signup-form input{
    max-width: 300px;
}
.signup-form button{
    width: 300px;
}
.author-box{
    margin-top: 10px;
}
}
